* {box-sizing:border-box}

/* CSS for index_2.html */
hr{
	clear: both;
}

/* CSS for index_2.html header */
#header{
	padding-bottom: 5%;
}

#header img{
	position: absolute;
	left: 0;
	width: 10%;
	min-width: 150px;
}

#header h1{
	text-align: center;
}

#header .options{
	float: right;
}

/* CSS for index_2.html reviews section */
#review h2{
	text-align: center;
}

#review img{
	width: 50%;
	max-height: 400px;
}

#slideshow-container{
	text-align: center;
}

/* Caption text */
.text {
  font-size: 15px;
  padding: 8px 12px;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}

/* CSS for index_2.html pax selection section */
.pax_selection h2{
	text-align: center;
}

.pax_selection .pax_1, .pax_2, .pax_3{
	float: left;
	text-align: center;
	margin: 0 6%;
}

/* CSS for index_2.html partners section */
.partners h2, .index .partners p{
	text-align: center;
}

.partners img{
	width: 10%;
	float: left;
	margin: 3% 3.2%;
}

.partners .seventh_pic{
	clear: left;
}

.partners span img{
	float: left;
	margin: 3% 5%;
}