
/* CSS for index_2.html */
hr{
	clear: both;
}

/* CSS for index_2.html navigation */
.index nav .main_nav li, .second_nav li{
	background-color: #ccf5ff;
	padding: 1%;
	display: inline;
	margin: 0 1%;
	border: 2px solid black;
}

.index nav .main_nav li{
	float: left;
}

.index nav .second_nav li{
	float: right;
}
/* CSS for index_2.html header */
.index header img{
	float:left;
	width: 10%;
}

.index header h1{
	text-align: center;
	clear: left;
}

.index header .options{
	float: right;
	clear: left;
}

.index header .options p{
}

/* CSS for index_2.html pax selection section */
.index .pax_selection .pax_1 img{
	width: 50%;
}

.index .pax_selection .pax_2 img{
	width: 30%;
}

.index .pax_selection .pax_3 img{
	width: 20%;
}

.index .pax_selection ul li{
	display: inline-block;
	border: 1px solid black;
	padding: 0 auto;
}
