body{
	margin-left: 10%;
	margin-right: 10%;
}

h1, h2{
	text-align: center;
}

img{
	margin: 2%;
	margin-top: 0;
	display:block;
	width: 20%;
	max-height: 200px;
}

.left_pic{
	float: left;
}

.right_pic{
	float: right;
}

hr{
	clear: both;
}

div{
	overflow: hidden;
}
