article a{
	color: #0000e6;
}

article a:hover{
	color: #ffcc99;
}

article a:active{
	color: #ff3333;
}

#update{
	visibility: hidden;
	margin-top: 1%;
	border: 1px solid black;
	background-color: white;
}